[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
pillow = "*"
django-decouple = "*"
psycopg2 = "*"
django-cleanup = "*"
django-ckeditor = "*"
django-import-export = "*"
djangorestframework = "*"
requests = "*"
django-filter = "*"

[requires]
python_version = "3.6"
